{% extends "layouts/main.html" %}

{% block title %}Página inicial{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Fale conosco</h1>

            <p>
                Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links
                para
                contato:
            </p>

            <h3>Links</h3>

            <ul>
                <li>
                    contact@studyeasy.org
                </li>
                <li>
                    @studyeasy
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}