{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Study Easy - Uma simples plataforma de ensino a distância" />

    <title>{% block title %}{% endblock %}</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- System css -->
    <link rel="stylesheet" href="{% static 'css/style-layout-main.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.content.css' %}">

    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>

<body>
    {% block menu %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Mercadinho</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <i class="fa-solid fa-house"></i>
                                Início
                            </a>
                        </li>

                        {% if request.user.groups.all.0.name == "Admin" %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                <i class="fa-solid fa-list"></i>
                                Lista de produtos
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create' %}">
                                <i class="fa-solid fa-cart-plus"></i>
                                Cadastrar produtos
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    <form class="d-flex">
                        <div class="search-box">

                            <input class="search-text" type="search" placeholder="Busque um produto..."
                                aria-label="Search" id="search" name="search">

                            <button type="submit" class="search-btn">
                                <i class="fa-solid fa-magnifying-glass" id="loupe-search"></i>
                            </button>

                        </div>
                    </form>

                    <ul class="navbar-nav" id="button-dropdown">
                        {% if request.user.is_authenticated %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-circle-user"></i>
                                <span id="username">
                                    {{ request.user }}
                                </span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-user"></i>
                                        Meu perfil
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-lock"></i>
                                        Alterar senha
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        Sair
                                    </a>
                                </li>
                            </ul>

                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">
                                <i class="fa-solid fa-user-plus"></i>
                                Cadastro
                            </a>
                        </li>

                        {% endif %}
                    </ul>

                </div>

            </div>
        </nav>
    </header>
    {% endblock %}


    <main>
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
    </main>



    {% block footer %}
    <footer>
        <p>Criado por &copy;Douglas</p>
    </footer>
    {% endblock %}



    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- System js -->
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>