{% extends 'layouts/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editando: '{{ product.name }}'{% endblock %}

{% block content %}

<div class="row">
    {% if request.user.groups.all.0.name == "Admin" %}

    <div class="col-md-5 mx-auto" id="product-edit-container">
        <div class="card">
            <div class="card-body">

                <form action="" method="POST" class="needs-validation" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- {{form|crispy}} -->
                    <!-- 
                    <div class="box">
                        <label class="avatar" for="btn">
                            <img src="/uploads/{{ product.image }}" alt="{ product.name }}" width="100px"
                                height="100px">
                        </label>
                        <input type="checkbox" id="btn">
                        <div class="menu">
                            <a href="#"><i class="fa fa-upload"> <span>upload</span></i></a>
                            <br>
                            <a href="#"><i class="fa fa-edit"> <span>edite</span></i></a>
                        </div>
                    </div> -->

                    <div class="form-group mb-1 mt-3">
                        <img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-preview">
                    </div>

                    <div class="form-group mb-1">
                        <label for="image" class="form-label">Alterar imagem</label>
                        <input type="file" name="image" id="image" class="form-control">
                    </div>


                    <div class="form-group mb-1">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Nome do produto..."
                            value="{{ product.name }}" required>
                        <div class="invalid-feedback">
                            Este campo é de preenchimento obrigatório
                        </div>
                    </div>


                    <div class="form-group mb-1">
                        <label for="quantity" class="form-label">Quantidade</label>
                        <input type="number" class="form-control" name="quantity" id="quantity"
                            placeholder="Quantidade..." value="{{ product.quantity }}" required>
                        <div class="invalid-feedback">
                            Este campo é de preenchimento obrigatório
                        </div>
                    </div>


                    <div class="form-group mb-1">
                        <label for="price" class="form-label">Preço</label>
                        <input type="text" class="form-control" name="price" id="price" placeholder="Preço..."
                            value="{{ product.price }}" required>
                        <div class="invalid-feedback">
                            Este campo é de preenchimento obrigatório
                        </div>
                    </div>


                    <div class="form-group mb-1">
                        <label for="validity" class="form-label">Validade</label>
                        <input type="datetime" class="form-control" name="validity" id="validity"
                            placeholder="Validade..." value="{{ product.validity|date:'d/m/Y' }}" required>
                        <div class="invalid-feedback">
                            Este campo é de preenchimento obrigatório
                        </div>
                    </div>


                    <div class="form-group mb-1">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea class="form-control" name="description" id="description" rows="3"
                            placeholder="Descrição..." required>{{ product.description }}</textarea>
                        <div class="invalid-feedback">
                            Este campo é de preenchimento obrigatório
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3">Editar produto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <div class="col-md-6 mx-auto">
        <h3 class="mt-5 mb-3">Ação não permitida</h3>
        <hr>
        <p class="lead">
            <strong>
                Sua conta não tem acesso a esta página. Para prosseguir,
                por favor faça login com uma conta que tenha acesso.
            </strong>
        </p>
    </div>

    {% endif %}
</div>
{% endblock %}