{% extends 'layouts/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editando: '{{ product.name }}'{% endblock %}

{% block content %}

<div class="row">
    {% if request.user.groups.all.0.name == "Admin" %}

    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">

                <h3 class="mt-3 mb-5 text-center">Editar produto</h3>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3 mb-3">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <div class="col-md-6 mx-auto">
        <h3 class="mt-5 mb-3">Ação não permitida</h3>
        <hr>
        <p class="lead">
            <strong>
                Sua conta não tem acesso a esta página. Para prosseguir,
                por favor faça login com uma conta que tenha acesso.
            </strong>
        </p>
    </div>

    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock %}