/*________________________________Home page________________________________*/
#products-container h1 {
    font-size: 30px;
    font-weight: bold;
    color: #2b2b2b;
}


#products-container .subtitle {
    color: #757575;
}

#products-container img {
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card {
    margin-bottom: 20px;
}

.card .card-name {
    font-size: 24px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 5px;
}

.card .card-description {
    color: #757575;
    font-size: 16px;
    margin-bottom: 20px;
}

.card p {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .card-validity {
    margin-bottom: 20px;
}

#more-details {
    margin-left: 10px;
    text-decoration: none;
    box-shadow: none;
}

#more-details:hover {
    color: #56a5ff !important;
}


/*________________________________Products create page (template de cadastro)________________________________*/
#product-create-container label {
    font-weight: bold;
}

#product-create-container input,
#product-create-container select,
#product-create-container textarea {
    font-size: 14px;
}


/*________________________________Products edit page (template de editar)________________________________*/
#product-edit-container h1 {
    font-size: 24px;
    font-weight: bold;
}

#product-edit-container label {
    font-weight: bold;
}

#product-edit-container input,
#product-edit-container select,
#product-edit-container textarea {
    font-size: 14px;
}

.img-preview {
    width: 150px;
}

/*________________________________More Details________________________________*/
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

#info-container p {
    margin-bottom: 5px;
    font-size: 14px;
    display: flex;
}

#info-container i {
    font-size: 16px;
    color: #f2a340;
    margin-right: 5px;
}

#info-container #btn-submit {
    margin: 20px 0;
}

#description-container {
    margin-top: 30px;
}

#description-container h4 {
    font-size: 24px;
    font-weight: bold;
}

/*________________________________Dashboard________________________________*/
.dashboard-title-container h1 {
    font-size: 30px;
    font-weight: bold;
    color: #2b2b2b;
}

.dashboard-products-container th {
    width: 21%;
}

.dashboard-products-container form {
    display: inline-block;
}


/*________________________________Messages________________________________*/
ul.messages {
    text-align: center;
    padding: 0;
    margin: 0;
}

ul.messages li {
    list-style: none;
}


/*________________________________Login________________________________*/
#login-container label,
#register-container label {
    font-weight: bold;
}

#login-container input,
#register-container input {
    font-size: 14px;
}



/* 
.box {
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
}

.avatar::after {
    opacity: 0;
    font-family: FontAwesome;
    content: "\f040";
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 4px;
    width: 92px;
    height: 92px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 350ms ease-in-out;
}

.avatar:hover::after {
    opacity: 1;
}

.avatar {
    box-sizing: border-box;
    border: 4px solid #c0c0c0;
    overflow: hidden;
}

.menu {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    opacity: 0;
    width: 100px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
    top: 60%;
    left: 60%;
    z-index: -1;
    transition: 350ms ease-in-out;
}

.box input {
    display: none;
}

.box input:checked+div.menu {
    opacity: 1;
    z-index: 999;
} */